@using SoftUniSpaceConsoleWebApp.Models.SpaceStation;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<SpaceStationViewModel>


<table class="table">
    <thead>
        <tr>
            <Lable> Space Station List </Lable>
            <th scope="col">Name</th>
            <th scope="col">UniverseGroup</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var station in Model)
        {

            <tr>
                <th>@station.Name</th>


                <th>@station.UniverseGroup</th>

                <th>
                    <button>
                        <a asp-controller="Galaxy"
                           asp-action="Delete"
                           asp-route-id="@station.Id">
                            Delete?
                        </a>

                    </button>



                </th>

            </tr>

        }

</table>

    </tbody>
</table>



