@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Create Solar System</h1>

<form method="post" asp-controller="SolarSystem" asp-action="Create">

    <p>
        <label>Name of the Solar System</label>
        <input type="text" name="Name" />
    </p>

    <p>

  
    </p>
    <p>

        <label>Universe Group</label>
        <input type="text" name="UniverseGroup"/>

    </p>
    <button type="submit">Create</button>


</form>