@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Create CrewMember</h1> 

<form method="post" asp-controller="Crew" asp-action="Create">

<p>
        <label>Name</label>
    <input type="text" name="Name"/>
</p>

<p>

        <label>Age</label>
  <input type="number" step="any" name="Age"/> 


</p>

<p>

    <label>Rank</label>
    <input type="text" name="Rank"/>

</p>

<button type="submit">Create</button>


</form>