

@using SoftUniSpaceConsoleWebApp.Models.Crew;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CrewViewModel>


<table class="table">
    <thead>
        <tr>
            <Lable>Ship Crew </Lable>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Rank</th>
            <th scope="col">Line :)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Crew in Model)
        {

            <tr>

                <th>@Crew.Name</th>

                <th>@Crew.Age </th>

                <th>@Crew.Rank</th>


            </tr>

        }

</table>

    </tbody>
</table>