

@using SoftUniSpaceConsoleWebApp.Models.Crew;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CrewViewModel>


<table class="table">
    <thead>
        <tr>
            <Lable> Crew List </Lable>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Rank</th>
            <th scope="col">Ship Member of</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Crew in Model)
        {

            <tr>
                <th>@Crew.Name</th>

                <th>@Crew.Age </th>

                <th>@Crew.Rank</th>

                <th>
                    <button>
                        <a 
                            asp-controller="Crew"
                            asp-action="Delete"
                            asp-route-id="@Crew.Id">
                        Delete?
                        </a>

                    </button>



                </th>
   
            </tr>

        }
       
</table>

    </tbody>
</table>